#annecy{
	display: block;
	margin: auto;
	box-shadow: 0px 15px 35px rgba(50,50,93,0.15);
}

.presentation{
	padding: 50px;
	margin: 40px;	
	border-radius: 4px;
	box-shadow: 0px 15px 35px rgba(50,50,93,0.15);
}

.presentationtext{
	font-size: 16px;
	color: #302f2f;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	text-align: justify;
}

.siteville{
	text-align: center;
	font-size: 22px;
}